<!DOCTYPE html>
<html>
<head>
  <title>&lt;canvas&gt;CoffeeScript&lt;/canvas&gt;</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1 class="medium-weight">
          <span style="color: #fff;">&lt;</span
          >canvas<span style="color: #fff;">&gt;</span
          ><span style="color: #CFC56A;">CoffeeScript</span
          ><span style="color: #fff;">&lt;/</span
          >canvas<span style="color: #fff;">&gt;</span
          ></h1>
      </div>
    </div>
  </div>
</header>

<div id="main_contents" class="container">
  <div class="row">
    <div class="twelve columns">
      <h3 class="medium-weight"><%= @title %></h3>
      <%= yield(:sub_header) %>
    </div>
  </div>
  <div class="row margin-top">
    <div class="nine columns">
      <%= yield %>
    </div>
    <div class="three columns">
      <div class="well">
        <%= render :partial => @steps_path %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <footer class="row">
    <section class="four columns">
      <h6><strong>Why CoffeeScript?</strong></h6>
      <p>foo</p>
    </section>
    
    <section class="four columns">
      <h6><strong>Why Canvas?</strong></h6>
      <p>foo</p>
    </section>
    
    <section class="four columns">
      <h6><strong>Who is this guy?</strong></h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</p>
    </section>
  </footer>
</div>

</body>
</html>
